Demo/Test/SWS-000-MASTER/Docs/SWS-100/res/user-service-wsdl-didattico/UserType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://ee.spring.corso/ws/UserType" 
elementFormDefault="qualified">

  <xs:complexType name="UserType">
	   <xs:sequence>
		   <xs:element name="nome" type="xs:string" />
		   <xs:element name="cognome" type="xs:string" />
		   <xs:element name="email" type="xs:string" />
		   <xs:element name="telefono" type="xs:string" />
	   </xs:sequence>
   </xs:complexType>
   
</xs:schema>