Demo/Test/Generated/res/pratiche.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">


<xs:element name="InvioPratica">
 <xs:complexType>
 <xs:sequence>
 	<xs:element name="Pratica" minOccurs="1" maxOccurs="unbounded">
	 <xs:complexType>
		<xs:sequence>
		<xs:element name="IdPratica" type="xs:string" />
    	<xs:element name="Richiedente">
	 	<xs:complexType>
         	<xs:sequence>
         	      <xs:element name="cognome" type="xs:string" />
	              <xs:element name="nome" type="xs:string" />
	              <xs:element name="sesso" type="xs:string" />
	              <xs:element name="dataNascita" type="xs:date" />
	              <xs:element name="luogoNascita" type="xs:string" />
	              <xs:element name="nazionalita" type="xs:string" />
	              <xs:element name="statoCivile" type="xs:string" />
	     </xs:sequence>
	 </xs:complexType>
	</xs:element>
	
	<xs:element name="TitoloViaggio">
	 <xs:complexType>
         <xs:sequence>
	              <xs:element name="numeroTitoloViaggio" type="xs:string" />
	              <xs:element name="dataEmissioneTitoloViaggio" type="xs:date" />
	              <xs:element name="dataScadenzaTitoloViaggio" type="xs:date" />
	              <xs:element name="validitaStatiSchengen" type="xs:string" />
	              <xs:element name="statoEmissione" type="xs:string" />
	     </xs:sequence>
	 </xs:complexType>
	</xs:element>
	
		<xs:element name="Visto">
	 <xs:complexType>
         <xs:sequence>
	              <xs:element name="tipoVisto" type="xs:string" />
	              <xs:element name="motivazioneVisto" type="xs:string" />
	              <xs:element name="durataSoggiorno" type="xs:string" />
	              <xs:element name="dataInizioSoggiorno" type="xs:date" />
	              <xs:element name="dataFineSoggiorno" type="xs:date" />
	     </xs:sequence>
	 </xs:complexType>
	</xs:element>
	 </xs:sequence>
	 </xs:complexType>
	</xs:element>
</xs:sequence>
 </xs:complexType>
</xs:element>

<xs:element name="RispostaPratica">
 <xs:complexType>
 <xs:sequence>
 <xs:element name="PraticaEvasa" minOccurs="1" maxOccurs="unbounded">
	 <xs:complexType>
	<xs:sequence>
		<xs:element name="riferimentoPratica" type="xs:string" />
		<xs:element name="esitoDeliveryCodice" type="xs:string" />
		<xs:element name="esitoDeliveryDescrizione" type="xs:string" />
	 </xs:sequence>
	 </xs:complexType>
	</xs:element>
</xs:sequence>
 </xs:complexType>
</xs:element>

</xs:schema>
