Demo/Test/Generated/resources/UserService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://ee.spring.corso/ws/UserService" 
xmlns:usr="http://ee.spring.corso/ws/UserType"
elementFormDefault="qualified">

  <xs:import namespace="http://ee.spring.corso/ws/UserType" schemaLocation="UserType.xsd"/>

	<xs:element name="echoUserRequest">
	  <xs:complexType >
	   <xs:sequence>
		   <xs:element name="user" type="usr:UserType" />
		</xs:sequence>
   		</xs:complexType>
   	</xs:element>
   
   <xs:element name="echoUserResponse">
	 <xs:complexType>
	   <xs:sequence>
		   <xs:element name="user" type="usr:UserType" />
		</xs:sequence>
   </xs:complexType>
  </xs:element> 
  
</xs:schema>